body {
    margin: 20px auto; 
    background: black;
    color: white; 
    height: 100vh; 
    display: flex;
    /* align-items: center;  */
    justify-content: center; 
}
p {
    font-size: 12px;
    margin: 5px;
}
.music-player {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.music-player__cover {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.music-player__cover img {
    width: 200px; 
    height: 200px;
    box-shadow: 0 0 50px rgb(78, 78, 197);
}

button {
    border: none; 
    background: transparent;
    cursor: pointer; 
    transition: transform 0.3s;
}
button:hover {
    transform: scale(1.4);
}

.music-player__progress {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 20px;
    margin-bottom: 10px;
}
.music-player__progress > div {
    display: flex;
    justify-content: space-between;
    width: 200px; 
    margin-bottom: 5px;
}
.music-player__progress__current-bar {
    height: 5px;
    width: 200px;
    background-color: lightskyblue;
    border-radius: 5px;
    position: relative; 
    transition: width 0.3s;
}
.music-player__progress__thumb-bar {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    /* transform: translateX(-50%); */
    transform: translateY(-20%);
}
.music-player__progress__thumb-bar:hover {
    width: 15px;
    height: 15px;
    transition: all 0.3s;
}

.music-player__list-song {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: center;
    padding: 0;
}
.music-player__list-song ul {
    text-align: center;

}
.music-player__list-song__item {
    border: 1px solid lightskyblue;
    padding:0;
}
.music-player__list-song__item:hover {
    box-shadow: 0 0 5px white;
    transform: translateY(-2px);
    transition: box-shadow 0.3s, transform 0.3s;
}